* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(255, 255, 255, 0.561);
  color: rgb(79, 62, 212);
  width: 80%;
  margin:auto;
  flex: auto;
  grid-template-columns:6fr;
}
div.top{
  grid-template-columns: 2;
  box-sizing: border-box;
}
div.menu{
  grid-column: 1;

}
div.title{
  grid-column:2;
 
}
div.options{
  display: flex;

}
div.options img{
  flex: 3
}
h1 {
  font-size: 2rem;
  background-color: black;
  color: white;
  border: white solid 2px;
  border-radius: 1rem;
  margin:1rem;
  padding: 1rem;
  min-width: 200px;
  grid-column: 2;
  grid-row:1;
}

main {
  width: 100%;
  margin: 3rem 3rem;
  display: grid;
  border-style: rgb(0, 0, 0) solid;
  grid-template-columns: 250px 6fr;
  grid-template-rows: 6.5rem 7rem 7rem 25rem ;
  height:auto;
}

#siteLogo {
  width: 250px;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  flex: auto;
}

section {

  /* section is both a Grid Item and a Flex Box container */
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  grid-row: 2/4;
  grid-column: 2/4;
  display: flex;
  justify-content: space-evenly;
  
}
div.lorem{
  grid-row: 4/5;
  grid-column: 2/4;
  background-color: rgb(215, 228, 250);
  height:auto;
  grid-template-rows: 2;
}
section.loremm{
  grid-column: 1;
}

div#myChart{
grid-column: 2;
height:auto;
align-items: center;
}
canvas{
  max-width: 75%;
  max-height: 75%;
}

section img {
  width: 33%;
  max-height: 26rem;
  border: 5px solid transparent;
}

section img:hover {
  border: 5px solid rgb(169, 108, 28);
  cursor: pointer;
}

ul {
  margin: 1rem;
  color: black;
  list-style: circle;
}

/* /* -- button -- */
/* section + div {
  background-color: rgba(128, 128, 128, 0.734);
  color: lightgrey;
  padding: .5rem 1rem;
  width: max-content;
  height: max-content;
  font-size: .8rem;
  margin: 1rem;
  pointer-events: none;
}  */

/* section + div.clicks-allowed {
  background-color: rosybrown;
  color: white;
  cursor: pointer;
  pointer-events: auto;
} */


/* section + div.clicks-allowed:hover {
  background-color: rgb(211, 187, 175);
} */

div.scoreboard{
  grid-column: 1;
  grid-row: 2/5;
  background-color: hwb(300 0% 0% / 0.111);

}
menu{
  grid-column:1;
  grid-row: 1;
  flex: auto;
}
footer{
  grid-row:6/8;
  grid-column: 1/4;
  background-color: #ffd000;
  width: 100%;
  height: 7rem;
  z-index: 1;

}
div.top{
  justify-content: space-between;
  grid-row: 1;
  grid-column: 1/5;
  display: flex;
  flex-direction: row;
  width: 100%;
}
